.btn-label {
    position: relative;
    left: -10px;
    display: inline-block;
    padding: 2px 6px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom:6px;
}