.button-label {
    position: relative;
    right: -12px;
    display: inline-block;
    padding: 6px 6px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.notDisplayed {
    display: none;
}

.displayed {
    display: flex;
}
