.form-sign-in {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.hover-move{
    display: inline-block;
    text-decoration: none;
    transition-duration: 1s;
    font-weight: bold;
    color: black;
}
